<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://192.168.1.7/package/debug_gunsoulx_ios/13/iOS/debug_gunsoulx_ios.200.11.2_13_966e870d.Debug.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.Funova.Gunsoul-X</string>
                <key>bundle-version</key>
                <string>200.11.2</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>GunsoulX</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>